$color-main-1: #8B6220
$color-main-2: #b7812a
$color-main-3: #d49b40
$color-accent: #a0a0a0
$color-black : #000000
$color-grey-1: #222222
$color-grey-2: #444444
$color-grey-3: #666666
$color-grey-4: #888888
$color-grey-5: #aaaaaa
$color-grey-6: #cccccc
$color-grey-7: #eeeeee
$color-white : #ffffff

$font-1: 12px
$font-2: 16px
$font-3: 18px
$font-4: 20px
$font-5: 24px
$font-6: 32px
$font-7: 36px
$font-8: 48px
$font-9: 72px

$radius-1: 4px
$radius-2: 8px
$radius-3: 12px
$radius-4: 16px
$radius-full: calc(infinity * 1px)

$transition: 0.3s

$family-main: "Inter", sans-serif
$family-sec: "Inter", sans-serif